In [ ]:
1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [4]:
test1="This is a test of the emergency text system"
file=open("test.txt","w")
file.write(test1)
file.close()

'This is a test of the emergency text system'

In [ ]:
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [5]:
test2=open("test.txt")
test2.read()

'This is a test of the emergency text system'

In [218]:
print(type(test1))
print(type(test2))
# test1 is a variable of string class while test2 is a object of Io text wrapper which can only be read with help of 
#read() method

<class 'str'>
<class '_io.TextIOWrapper'>

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [1]:
import csv
file=open("book.csv","w",newline="")
filecsv=csv.writer(file)
filecsv.writerows([['The Weirdstone of Brisingamen','Alan Garner',1960],['Perdido Street Station','China Miéville','2000']])
filecsv.writerows([['Thud!','Terry Pratchett',2005],['The Spellman Files','Lisa Lutz',2007],['Small Gods','Terry Pratchett',1992]])
file.close()

import csv
file=open("book.csv")
filereader=csv.reader(file)
data=list(filereader)
data

[['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
 ['Perdido Street Station', 'China Miéville', '2000'],
 ['Thud!', 'Terry Pratchett', '2005'],
 ['The Spellman Files', 'Lisa Lutz', '2007'],
 ['Small Gods', 'Terry Pratchett', '1992']]

In [229]:
import os
os.getcwd()

'C:\\Users\\tejar\\python_files'

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [205]:
import mysql.connector as connection
mydb=connection.connect(host="localhost",user="root",password="mysql",use_pure=True)
mycursor=mydb.cursor()
mycursor.execute("create database books")
mydb.close()

In [206]:
try:
    mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="books",use_pure=True)
    query="create table books(title varchar(40),author varchar(20),year int)"
    mycursor=mydb.cursor()
    mycursor.execute(query)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

In [239]:
mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="books",use_pure=True)
mycursor=mydb.cursor()
mycursor.execute("show tables")
res=mycursor.fetchall()
mydb.close()
res

[('books',)]

In [ ]:
5. Read books.csv and insert its data into the book table.

In [240]:
import csv
file=open("book.csv")
filereader=csv.reader(file)
data=list(filereader)

try:
    mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="books",use_pure=True)
    query="insert into books(title,author,year) values(%s,%s,%s)"
    mycursor=mydb.cursor()
    mycursor.executemany(query,data)
    mydb.commit()
    mydb.close()

except Exception as e:
    mydb.close()
    print(str(e))

In [ ]:
6. Select and print the title column from the book table in alphabetical order.

In [213]:
try:
    mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="books",use_pure=True)
    query="select title from books order by title asc"
    mycursor=mydb.cursor()
    mycursor.execute(query)
    res=mycursor.fetchall()
    for i in res:
        print(i[0])
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [ ]:
7. From the book table, select and print all columns in the order of publication.

In [217]:
try:
    import mysql.connector as connection
    mydb=connection.connect(host="localhost",user="root",passwd="mysql",database="books",use_pure=True)
    query="select * from books order by year asc"
    mycursor=mydb.cursor()
    mycursor.execute(query)
    res=mycursor.fetchall()
    for i in res:
        print(i)
    mydb.close()
except Exception as e:
    mydb.close()
    print("Error",str(e))

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [ ]:
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [ ]:
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [ ]:
10. Increment the count field of test and print it.